<div class="container">
    <div>
      <form #commentForm = "ngForm" (ngSubmit) = "submit(commentForm.value)" >
        <p>Give your rating.</p>
        <div class="radio">
          <label><input type="radio"  name= "rating" value="1" ngModel>1</label>
        </div>
        <div class="radio">
          <label><input type="radio"  name = "rating" value="2" ngModel>2</label>
        </div>
        <div class="radio">
          <label><input type="radio"  name= "rating" value="3" ngModel>3</label>
        </div>
        <div class="radio">
          <label><input type="radio"  name= "rating" value="4" ngModel>4</label>
        </div>
        <div class="radio">
          <label><input type="radio"  name= "rating" value="5" ngModel>5</label>
        </div>
        <br>
        <div class="container">
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5"  name="comment" id="comment" ngModel></textarea>
          </div>
        </div>
        <button  class="btn btn-info">Submit</button>
      </form>
    </div>
