<div class="row">
  <div class="col-md-2">
    <p id ="list">List of cities you may choose</p>
    <br/>
      <div>
        <table class = "table table-hover">
          <tr *ngFor = " let city of city" (click)="selectCity(city.id)">
            <td id = "city_name">{{city.name}}</td>
          </tr>
        </table>
      </div>
   </div>
  <div class="col-md-10" >
     <div style="float:right;">
       <button type="button" class="btn btn-info" (click) ="signout()" id = "signout">Sign out</button>
       <button type="button" class="btn btn-info" (click) ="history()" id = "history">Check your hisory</button>
    </div>
   <hotel-component *ngIf = 'selectedCityId' [selectedCityId] = 'selectedCityId' ></hotel-component> 
   <router-outlet></router-outlet>
  </div>
</div>
